<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stderr="true"
>
    <php>
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <!--<ini name="error_reporting" value="-16385"/>-->
        <ini name="error_reporting" value="-1" />
        <ini name="zend.enable_gc" value="0" />
        <ini name="memory_limit" value="2G" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="999999" />
    </php>

    <testsuites>
        <testsuite name="All Test Suite">
            <directory suffix="Test.php">tests/Test</directory>
            <directory phpVersion="7.2" phpVersionOperator=">=">./tests/TestPhp72</directory>
            <directory phpVersion="7.4" phpVersionOperator=">=">./tests/TestPhp74</directory>
            <directory phpVersion="8.1" phpVersionOperator=">=">./tests/TestPhp81</directory>
            <directory phpVersion="8.2" phpVersionOperator=">=">./tests/TestPhp82</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
